@CHARSET "UTF-8";

body 
	{font: 10pt sans-serif, Helvetica, Arial
	;line-height:16px
	;color: #222
	;background: #ddd                 
  }

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #DDD}

a
	{font: bold 14px/16px Arial, Helvetica, sans-serif
	;text-decoration: none
	;color: #000
	;background: #ccc                 
	}

.knopp{
	color: #000;
	background: #efefef;
	text-decoration: none;
	padding: 2px 3px;
}

a:hover {
	color: #a00;
	background: #fff;
}


h1 { font: 160% sans-serif, Helvetica, Arial;	color: #000;
	background: #ccc;
}
h2 { font: 140% sans-serif, Helvetica, Arial;	color: #000;
	background: #ccc;
}
h3 a { font: 120% sans-serif, Helvetica, Arial
	;background: #ddd                 
	
}
h3 {	margin-bottom:-11px;}
h4 { font: 110% sans-serif, Helvetica, Arial}


/**************** menu coding *****************/
#menu { width: 100%; background: #eee; float: left; }

#menu ul { list-style: none; margin: 0; padding: 0; width: 150px; float: left;
    } 

#menu a, #menu  h2 {
	font: bold 11px/16px arial, helvetica, sans-serif;
	display: block;
	border-width: 0px;
	border-style: solid;
	border-color: #ccc #888 #555 #bbb;
	margin: 0;
	padding: 2px 3px;
}

#menu ul h2 {
	color: #000;
	background: #ccc;
	text-transform: uppercase;
}



    #menu a { color: #000; background: #efefef; text-decoration: none; }

    #menu a:hover { color: #a00; background: #fff; }

    #menu li {position: relative;} 

    #menu ul ul { position: absolute; z-index: 500; }

    #menu ul ul ul { position: absolute; top: 0; left: 100%; } 

    div#menu ul ul,
    div#menu ul li:hover ul ul,
    div#menu ul ul li:hover ul ul
      {display: none;} 

    div#menu ul li:hover ul,
    div#menu ul ul li:hover ul,
    div#menu ul ul ul li:hover ul
      {display: block;} 


                    .tip {font:10px/12px
                    Arial,Helvetica,sans-serif; border:solid 1px
                    #666666; width:270px; padding:1px;
                    position:absolute; z-index:100;
                    visibility:hidden; color:#333333; top:20px;
                    left:90px; background-color:#ffffcc;
                   /* layer-background-color:#ffffcc;*/
                    }
                  
.odd {
 background-color: #e9e9e9;
} 
.even {
 background-color: #efefef;
}


select {
//  width: 100%;
  height: 50px;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  background-color: #c0392b;
  border: none;
  border-bottom: 2px solid #962d22;
  color: white;
  padding: 10px;
  padding-right: 38px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Adding transition effect */
  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}/* For IE <= 11 */

select::-ms-expand {
  display: none; 
}select:hover,

select:focus {
  color: #c0392b;
  background-color: white;
  border-bottom-color: #DCDCDC;
}


option:mouse-over {
  color: #c0392b;
  background-color: black;
  border-bottom-color: #DCDCDC;
}
